.Rproj.user
.Rhistory
.RData
.Ruserdata
Talks-and-posters.Rproj
ISMBECCB2019-poster/ISMBECCB2019-poster-concordance.tex
ISMBECCB2019-poster/ISMBECCB2019-poster.log  
ISMBECCB2019-poster/ISMBECCB2019-poster.nav             
ISMBECCB2019-poster/ISMBECCB2019-poster.snm             
ISMBECCB2019-poster/ISMBECCB2019-poster.synctex.gz    
ISMBECCB2019-poster/ISMBECCB2019-poster.tex       
ISMBECCB2019-poster/ISMBECCB2019-poster.toc   
template and figures/event-poster-concordance.tex
template and figures/event-poster.log  
template and figures/event-poster.nav             
template and figures/event-poster.snm             
template and figures/event-poster.synctex.gz    
template and figures/event-poster.tex       
template and figures/event-poster.toc   