.Rproj.user
.Rhistory
.RData
.Ruserdata
Talks-and-posters.Rproj
ISMBECCB2019-poster/ISMBECCB2019-poster-concordance.tex
ISMBECCB2019-poster/ISMBECCB2019-poster.log
ISMBECCB2019-poster/ISMBECCB2019-poster.nav
ISMBECCB2019-poster/ISMBECCB2019-poster.snm
ISMBECCB2019-poster/ISMBECCB2019-poster.synctex.gz
ISMBECCB2019-poster/ISMBECCB2019-poster.tex
ISMBECCB2019-poster/ISMBECCB2019-poster.toc
template and figures/event-poster-concordance.tex
template and figures/event-poster.log
template and figures/event-poster.nav
template and figures/event-poster.snm
template and figures/event-poster.synctex.gz
template and figures/event-poster.tex
template and figures/event-poster.toc
EMBL-Multiomics-poster/EMBL-Multiomics-poster-concordance.tex
EMBL-Multiomics-poster/EMBL-Multiomics-poster.log
EMBL-Multiomics-poster/EMBL-Multiomics-poster.nav
EMBL-Multiomics-poster/EMBL-Multiomics-poster.snm
EMBL-Multiomics-poster/EMBL-Multiomics-poster.synctex.gz
EMBL-Multiomics-poster/EMBL-Multiomics-poster.tex
EMBL-Multiomics-poster/EMBL-Multiomics-poster.toc
PTBI2019/presentation-concordance.tex
PTBI2019/presentation.aux
PTBI2019/presentation.log
PTBI2019/presentation.nav
PTBI2019/presentation.snm
PTBI2019/presentation.synctex.gz
PTBI2019/presentation.tex
PTBI2019/presentation.toc
HaDeX-Talks-and-posters.Rproj
